div#wrapper {
    width: 1000px;
    height: 800px;
    margin: 20px auto;
    display: grid;
    grid:
            "nav    nav" 150px
            "kolom1 content" 500px
            "kolom1 footer" 150px
    / 300px 700px
;
}

nav {
    grid-area: nav;
    background: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div#kolom1 {
    grid-area: kolom1;
    background: darkorange;
}

div#content {
    grid-area: content;
    background-image: url("../Hoofstuk7/Header.png");
    background-color: #cccccc;
}

div#footer {
    grid-area: footer;
    background: lightgrey;
}

nav img {
    border-radius: 50%;
}