*{
    border: dotted 1px;
}

body{
    margin: 0;
    padding: 30px;
}
h1{
    grid-column: 1/5;
}

form {
    display: grid;
    grid-template-columns: 20% 30% 10% 40%;
}
#eten{
    display: flex;
    grid-column: 4/5;
    grid-row: 2/auto;
}

div#links{

}